LINKEDIN_CLIENT_ID=86e5dk5zdq7pm4
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://localhost:3000/callback
LINKEDIN_SCOPES=openid profile w_member_social
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_API_VERSION=202605
